.header {
  position: sticky;
  z-index: 30;
  top: 0;
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  background-color: darkgoldenrod;
}

.nav {
  grid-column: full;
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.menu_bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.menu_bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.menu_list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: darkgoldenrod;
}
.menu_list.active {
  right: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 8px;
    grid-column: main;
  }
  .menu_bar {
    display: none;
  }
  .menu_list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
}
