.gridContainer {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1.6rem, 1fr)
    [main-start] minmax(0, 107.2rem)
    [main-end] minmax(1.6rem, 1fr)
    [full-end];
}

/* breakpoint-small */
@media (min-width: 23.5em) {
  .gridContainer {
    grid-template-columns:
      [full-start] minmax(2.2rem, 1fr)
      [main-start] minmax(0, 107.2rem)
      [main-end] minmax(3.2rem, 1fr)
      [full-end];
  }
}

.section {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--surface-01);
  padding: 8.2rem 0rem;
}

.gray {
  background-color: var(--surface-02);
}

.section.fillViewport {
  min-height: 100vh;
  align-items: center;
}

/* .section.large {
  padding: 12.2rem 0rem;
} */
